* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

$black: #000;
$white: #fff;
$darkBlue: #011223;
$lightBlue: #0052A5;
$skyBlue: #4D86C0;
$red: #E0162B;
$yellow: #f9e3ac;

$bird: url(../img/section-title-icon.svg);
$red-bird: url(../img/section-title-icon-red.svg);
$blue-bird: url(../img/section-title-icon-blue.svg);
$red-bird-fill: url(../img/red-bird-fill.svg);
$blue-bird-fill: url(../img/blue-bird-fill.svg);
$color-bird: url(../img/section-title-icon-color.svg);

:root {
	--black: #000;
	--white: #fff;
	--darkBlue: #011223;
	--lightBlue: #0052A5;
	--red: #E0162B;
	--yellow: #f9e3ac;
}

.c-darkBlue {color: $darkBlue !important;}
.c-lightBlue {color: $lightBlue !important;}
.c-skyBlue {color: $skyBlue !important;}
.c-red {color: $red !important;}
.c-yellow {color: $yellow !important;}

$heading: 'Poppins', sans-serif;

body {
	font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar-track {background-color: $lightBlue}
body::-webkit-scrollbar {width: 5px}
body::-webkit-scrollbar-thumb {background-color: $red}

::-moz-selection {
	color: $white;
	background: $darkBlue;
	text-shadow: none;
}
::selection {
	color: $white;
	background: $darkBlue;
	text-shadow: none
}

a,a:hover,a:active,a:visited,a:focus {
	color: inherit;
	text-decoration: none;
	outline: 0!important
}
a{transition:all .3s ease}

ol,ul,li{list-style-type:none}
h1,h2,h3,h4,h5,h6,figure,p,nav{margin: 0}
ol,ul,li {
	list-style-type:none;
	margin-top:0;
	margin-bottom:0;
	padding-left:0
}
input,textarea {
	border:0;
	outline:0;
	box-shadow: none;
	resize: none;
	background: transparent
}
input:focus,textarea:focus {
	box-shadow:none;
	border:0;
	outline:0;
	-webkit-box-shadow:none;
	box-shadow:none
}
textarea::-webkit-input-placeholder,input::-webkit-input-placeholder {transition:all .2s linear}
textarea::-moz-placeholder,input::-moz-placeholder {transition:all .2s linear}
textarea:-ms-input-placeholder,input:-ms-input-placeholder {transition:all .2s linear}
textarea::placeholder,input::placeholder {transition:all .2s linear}
button {
	background: transparent;
	border: 0;
	outline: 0!important;
}
img {max-width: 100%}

/* 
** mixins start
*/
/* primary-button */
@mixin primary-button($text, $bg1, $bg2) {
	display: inline-flex;
	align-items: stretch;
	border-radius: 4px;
	color: $text;
	overflow: hidden;
	span {
		font-size: 15px;
		font-weight: 600;
		letter-spacing: 1px;
		display: flex;
		align-items: center;
		padding: 12px 30px;
		background: $bg1;
		transition: all .3s ease .1s;
	}
	i {
		font-size: 22px;
		padding: 0 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: $bg2;
		box-shadow: -3px 0 0 $white;
		transition: all .3s ease 0s;
	}
	&:hover {
		span {
			background: $bg2;
			transition: all .3s ease 0s;
		}
		i {
			background: $bg1;
			box-shadow: -10px 0 5px rgba($white, 0);
			transition: all .3s ease .1s;
		}
	}
}

/* hover-underline */
@mixin hover-underline($color) {
	display: inline-block;
	position: relative;
	-webkit-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
	&::after {
		background-color: $color;
		content: "";
		width: 100%;
		height: 1px;
		left: 0;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		top: 100%;
		-webkit-transform: translateY(1px);
		transform: translateY(1px);
		-webkit-transition: 0.15s all ease;
		transition: 0.15s all ease;
		-webkit-transition-property: opacity, -webkit-transform;
		transition-property: opacity, -webkit-transform;
		transition-property: opacity, transform;
		transition-property: opacity, transform, -webkit-transform;
	}
	
	&:hover::after {
		opacity: 1;
		-webkit-transform: translateY(-3px) translateZ(0);
		transform: translateY(-3px) translateZ(0);
	}
}

/* section-header */
@mixin section-header($txt, $btn-txt, $borderColor, $bgColor, $shadowColor) {
	flex: 1;
	font-family: "Poppins",sans-serif;
	font-size: 45px;
	color: $txt;
	border-bottom: 3px solid $borderColor;
	& + a {
		font-size: 15px;
		font-weight: 700;
		color: $btn-txt;
		display: inline-block;
		padding: 3px 12px;
		border-radius: 4px 4px 4px 0;
		background: $bgColor;
		transform: translateX(-2px);
		box-shadow: 4px 4px 0 $shadowColor;
		&:hover {box-shadow: 1px 1px 2px $shadowColor}
	}
}
/* 
** mixins end
*/

.link-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 3;
}

.no-click {pointer-events: none}

.page-wrapper {
	overflow: hidden;
	min-height: 100vh;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* header start */
.nav-top {
	background: lighten($darkBlue, 15%);
	padding: 15px;
	&,
	ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
		li {
			display: flex;
			align-items: center;
			i {
				font-size: 16px;
				width: 35px;
				height: 30px;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				margin-right: 8px;
				background: $red;
				color: $white;
				border-radius: 3px;
			}
			p, a {
				font-size: 13px;
				letter-spacing: .5px;
				font-weight: 500;
				color: $white;
			}
			
			a {
				&:hover {
					text-decoration: underline;
				}
			}
			& + li {margin-left: 30px;}
		}
	}
}

.main-menu-wrapper {
	box-shadow: 0 20px 50px -20px rgba($darkBlue, 5%);
}

.nav-main {
	.site-logo {
		padding: 10px 0;
		img {
			width: 100px;
		}
		
		.site-name {
			font-weight: 900;
			margin-left: 10px;
		}
	}
	
	ul {
		display: flex;
		a {
			font-size: 14px;
			text-transform: uppercase;
			font-weight: 600;
			display: flex;
			align-items: center;
			height: 100%;
			padding: 0 30px;
			margin-top: 5px;
			transform: translateY(-5px);
			&:hover {
				color: lighten($darkBlue, 15%);
				background: rgba(lighten($darkBlue, 15%), 3%);
			}
		}
		.active {
			a {
				position: relative;
				isolation: isolate;
				font-weight: 900;
				letter-spacing: .5px;
				color: $white;
				&::before {
					position: absolute;
					content: '';
					width: 100%;
					height: 100%;
					background: lighten($darkBlue, 15%);
					box-shadow: inset 0 -5px 0 $red;
					border-radius: 0 0 3px 3px;
					top: 0;
					left: 0;
					z-index: -1;
				}
			}
		}
	}
}
/* header end */

/* heroCarousel start */
#heroCarousel {
	$hero-bg-1: url(../img/hero/01.png);
	$hero-bg-2: url(../img/hero/02.png);
	$hero-bg-3: url(../img/hero/03.png);
	
	.carousel-item {
		width: 100%;
		height: 800px;
		overflow: hidden;
		display: grid;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		position: relative;
		isolation: isolate;
		
		&[data-bg="1"] {background: $hero-bg-1}
		&[data-bg="2"] {background: $hero-bg-2}
		&[data-bg="3"] {background: $hero-bg-3}
	}
	
	.carousel-item::before {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: -webkit-gradient(linear, left top, right top, from($black), to(transparent));
		background: -o-linear-gradient(left, $black, transparent);
		background: linear-gradient(to right, $black, transparent);
		z-index: -1;
	}
	
	.hero-content {
		width: 60%;
		h2 {
			color: #ff99a3;
			background-image: -webkit-radial-gradient(circle, #ff99a3 0%,#4b93db 33%,#ffffff 67%);
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
			text-fill-color: transparent;
			
			font-size: 62px;
			line-height: 82px;
			font-weight: 900;
			font-family: $heading;
			word-spacing: 15px;
		}
		p {
			width: min(600px, 100%);
			font-size: 22px;
			font-weight: 600;
			color: $lightBlue;
			background: $white;
			padding: 8px 12px 8px 14px;
			margin: 40px 0;
			border-radius: 4px;
			position: relative;
			isolation: isolate;
			&::before {
				position: absolute;
				content: '';
				width: calc(100% + 20px);
				height: calc(100% + 30px);
				border-radius: 4px;
				background: rgba($white, 20%);
				border-top: 3px solid $white;
				border-bottom: 3px solid $white;
				top: -15px;
				left: -10px;
				z-index: -1;
			}
		}
		& > a, & > span {
			font-size: 16px;
			font-weight: 500;
			position: relative;
			background-image: -webkit-gradient(linear,left top,right top,from($white),to($white));
			background-image: -webkit-linear-gradient(left,$white 0,$white 100%);
			background-image: -o-linear-gradient(left,$white 0,$white 100%);
			background-image: linear-gradient(to right,$white 0,$white 100%);
			background-size: 100% 2px;
			background-position: 0 95%;
			background-repeat: no-repeat;
			display: inline-block;
			padding: 5px 10px;
			color: $white;
			i {
				display: inline-flex;
				width: 30px;
				height: 30px;
				margin-left: 5px;
				border-radius: 100px;
				align-items: center;
				justify-content: center;
				font-size: 18px;
				transition: all .5s ease .1s;
			}
		}
		
		& > a {
			display: inline-flex;
			align-items: center;
			&:hover {
				color: $lightBlue;
				background-size: 100% 100%;
				border-radius: 4px;
				i {
					background: $lightBlue;
					color: $white;
					transform: rotateY(-360deg);
				}
			}
		}
		
		span {
			background: none;
			a {
				box-shadow: none;
				width: 40px;
				height: 40px;
				padding: 0;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				border-radius: 4px;
				box-shadow: 0 0 0 2px rgba($white, 60%);
				margin-top: 15px;
				margin-right: 25px;
				& ~ a {
					margin-left: 25px;
				}
				&:hover {
					background: $white;
					color: $lightBlue;
				}
				i {
					display: inline-block;
					font-size: 25px;
					transition: all .2s ease 0s;
				}
			}
		}
	}
	
	.carousel-control-prev,
	.carousel-control-next {
		all: unset;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 70px;
		height: 70px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 100%;
		background: lighten($darkBlue, 15%);
		color: $white;
		cursor: pointer;
		z-index: 9;
		transition: all .2s ease;
		i {
			font-size: 25px;
			font-weight: 700;
			transition: all .3s ease;
		}
		&:hover {
			background: $white;
			color: lighten($darkBlue, 15%);
		}
	}
	
	.carousel-control-prev {left: 30px}
	.carousel-control-next {right: 30px}
}
/* heroCarousel end */

/* intro-section start */
.intro-section {
	padding: 120px 0;
	.section-bird {
		position: absolute;
		top: 25%;
		left: calc(50% + 80px);
		transform: translate(-50%, -50%) rotateY(180deg) scale(2);
	}
	.intro-content {
		padding-left: 30px;
		h2 {
			font-family: $heading;
			font-size: 45px;
			color: $lightBlue;
			margin-bottom: 10px;
			border-bottom: 3px solid $red;
		}
		
		h4 {
			font-size: 26px;
			line-height: 40px;
			font-weight: 500;
			color: $darkBlue;
		}
		
		p {
			font-size: 18px;
			line-height: 32px;
			margin: 30px 0;
			& + p {
				margin-top: 20px;
			}
		}
		a {
			@include primary-button($white, $lightBlue, $red);
		}
	}
}
/* intro-section end */

/* video-section start */
.video-section {
	.section-bird {
		position: absolute;
		top: 16%;
		left: 39%;
		transform: translate(-50%, -50%) rotateY(180deg) scale(2);
		filter: drop-shadow(-5px 1px 0 $white);
	}
	video {
		width: 100%;
		height: 700px;
		object-fit: cover;
		vertical-align: top;
	}
	
	.race-rures {
		padding: 30px 60px;
		background: rgba($red, 2%);
		border: 20px solid;
		border-image-slice: 1;
		border-image-source: linear-gradient(to bottom, $lightBlue, $red, $darkBlue);
		h2 {
			font-family: $heading;
			font-size: 45px;
			color: $red;
			margin-bottom: 30px;
			border-bottom: 3px solid $lightBlue;
		}
		
		li {
			position: relative;
			padding-left: 30px;
			font-size: 15px;
			font-weight: 600;
			line-height: 28px;
			color: $darkBlue;
			& + li {margin-top: 15px;}
			&::before {
				position: absolute;
				content: '';
				width: 15px;
				height: 15px;
				border-radius: 3px;
				background: $lightBlue;
				box-shadow: 4px 4px $red;
				top: 5px;
				left: 0;
			}
		}
		a {@include primary-button($white, $red, $lightBlue);}
	}
}
/* video-section end */

/* key-feature start */
.key-feature {
	margin-bottom: 120px;
	.info-box {
		h2 {
			font-size: 36px;
			font-weight: 900;
			color: $lightBlue;
			border-bottom: 3px solid $red;
			margin-bottom: 15px;
			padding-bottom: 5px;
			span {color: $red;}
		}
		
		h4 {
			font-size: 18px;
			font-weight: 900;
			margin-top: 20px;
		}
		
		p {
			font-size: 18px;
			line-height: 32px;
			& + p {margin-top: 20px;}
			a {
				color: $skyBlue;
				font-weight: 600;
				&:hover {text-decoration: underline;}
			}
		}
	}
	.feature-box {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 60px;
		border-radius: 16px;
		text-align: center;
		background: $lightBlue;
		box-shadow: inset 0 0 0 20px $skyBlue;
		position: relative;
		isolation: isolate;
		&::before {
			position: absolute;
			content: '';
			width: calc(100% - 40px);
			height: 50px;
			left: 20px;
			top: 85px;
			background: $skyBlue;
			z-index: -1;
		}
		.kf-icon {
			font-size: 40px;
			width: 100px;
			height: 100px;
			border-radius: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			background: lighten($red, 10%);
			color: $white;
			box-shadow: 0 0 0 15px $skyBlue, inset -2px -2px 10px darken($white, 20%);
			position: relative;
			isolation: isolate;
			
			&::before {
				position: absolute;
				content: '';
				width: 50px;
				height: 50px;
				bottom: 100%;
				left: 50%;
				transform: translateX(-50%);
				z-index: -1;
				background: $skyBlue;
			}
		}
		
		p {
			font-size: 24px;
			line-height: 36px;
			font-weight: 700;
			color: $white;
			&:not(p:has(+ p)) {margin-top: 40px;}
			& > a {
				@extend .kf-icon;
				display: inline-flex;
				i {font-size: 30px;}
			}
		}
	}
}
/* key-feature end */

/* agents-section start */
.agents-section {
	margin: 120px 0;
	h2 {@include section-header($red, $white, $skyBlue, $skyBlue, $red)}
	.agent-cards {
		margin-top: 50px;
		position: relative;
		isolation: isolate;
		z-index: 96;
		&::before {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			top: 375px;
			left: 0;
			background: -webkit-gradient(linear, left top, left bottom, from($skyBlue), color-stop(90%, $lightBlue));
			background: -o-linear-gradient(top, $skyBlue, $lightBlue 90%);
			background: linear-gradient(to bottom, $skyBlue, $lightBlue 90%);
			z-index: -1;
		}
	}
	.agent-card {
		border: 10px solid $skyBlue;
		border-top: 30px solid $skyBlue;
		box-shadow: 0 0 0 3px rgba($lightBlue, 40%), 0 0 0 8px $white;
		border-radius: 16px;
		position: relative;
		margin-top: 15px;
		transition: all .3s ease .2s;
		&::before {
			position: absolute;
			content: url(../img/blue-bird-fill.svg);
			bottom: 100%;
			left: 50%;
			transform: translateX(-50%) scale(.4) rotateY(180deg);
			filter: drop-shadow(2px 7px 0 $white);
		}
		& > img {
			position: absolute;
			top: -20px;
			left: 0;
			width: 15px;
			transition: all .3s ease 0s;
		}
		& > span {
			position: absolute;
			top: -24px;
			right: 2px;
			display: inline-block;
			border-radius: 4px 0 0 4px;
			color: $white;
			font-size: 14px;
			font-weight: 500;
			letter-spacing: .6px;
			transition: all .3s ease 0s;
		}
		&:hover {
			transition: all .3s ease 0s;
			transform: translateY(-5px);
			& > img {
				left: 10px;
				transition: all .3s ease .2s;
			}
			& > span {
				right: 10px;
				transition: all .3s ease .2s;
			}
		}
		figure img {
			aspect-ratio: 1/1;
			object-fit: cover;
			object-position: top center;
		}
		
		.agent-info {
			background: $white;
			padding: 0 15px 25px;
			border-radius: 8px;
			box-shadow: inset 0 0 0 3px rgba($lightBlue, 30%);
			h4 {
				margin: 0 -15px 20px;
				padding: 12px 15px 10px;
				font-size: 18px;
				font-weight: 900;
				letter-spacing: .4px;
				background: $skyBlue;
				color: $white;
				box-shadow: 0 3px 0 rgba($lightBlue, 30%);
			}
			p {
				display: flex;
				align-items: center;
				column-gap: 10px;
				margin-top: 15px;
				i {
					width: 25px;
					height: 25px;
					border-radius: 4px;
					display: flex;
					align-items: center;
					justify-content: center;
					background: $skyBlue;
					color: $white;
					font-size: 12px;
					box-shadow: -1px -1px 4px $skyBlue, 3px 3px 0 $red;
				}
				a {
					font-size: 14px;
					font-weight: 500;
					&:hover {
						color: $red;
					}
					@include hover-underline($red);
				}
			}
		}
	}
	.be-an-agent {
		section {
			width: min(800px, 100%);
			margin: 0 auto;
			padding: 80px 0 120px;
			text-align: center;
			figure img {
				opacity: 0.7;
				transform: scale(2);
				filter: drop-shadow(0 0 10px $white);
			}
			
			h3 {
				font-size: 60px;
				font-weight: 900;
				color: $white;
				margin-top: 60px;
				span {
					letter-spacing: 2px;
					text-shadow: 2px 4px 3px $red;
				}
			}
			p {
				width: min(80%, 100%);
				margin: 20px auto 30px;
				padding: 20px 10px;
				font-size: 18px;
				font-weight: 500;
				line-height: 32px;
				color: rgba($white, 85%);
				border-top: 10px solid rgba($white, 85%);
				border-bottom: 10px solid rgba($white, 85%);
				border-radius: 16px;
				background: rgba($white, 10%);
				box-shadow: inset 0 0 10px rgba($darkBlue, 20%);
			}
			
			a {@include primary-button($white, lighten($darkBlue, 10%), lighten($red, 10%))}
		}
	}
}
/* agents-section end*/

/* blog-section start */
.blog-section {
	margin-bottom: 120px;
	h2 {@include section-header($lightBlue, $white, $skyBlue, $skyBlue, $red);}
	
	.blog-card {
		position: relative;
		isolation: isolate;
		z-index: 1;
		padding: 0 15px 15px;
		border-radius: 16px;
		box-shadow: 8px 8px 0 lighten($red, 12%);
		transition: all .3s ease;
		background: $skyBlue;
		margin: 30px 0;
		figure img {
			aspect-ratio: 1/.5;
			object-fit: cover;
			object-position: top center;
		}
		
		&-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 10px 0;
			color: $white;
			font-size: 14px;
			font-weight: 600;
		}
		
		&-body {
			padding: 20px;
			background: rgba($white, 95%);
			h3 {
				font-size: 24px;
				font-weight: 600;
				color: $darkBlue;
				transition: all .3s ease;
			}
			
			p {
				font-size: 18px;
				line-height: 32px;
				color: lighten($darkBlue, 10%);
				margin: 10px 0 30px;
			}
			
			button {
				@include primary-button($white, $lightBlue, $skyBlue);
			}
		}
		
		&:hover {
			background: $lightBlue;
			box-shadow: 6px 6px 0 lighten($red, 12%);
			h3 {
				color: $lightBlue;
			}
		}
	}
	
	.blog-pagination {
		text-align: center;
		margin-top: 30px;
		a {
			height: 30px;
			padding: 0 15px;
			display: inline-flex;
			border-radius: 4px;
			align-items: center;
			justify-content: center;
			background: $lightBlue;
			box-shadow: inset 0 0 0 2px rgba($white, 40%);
			color: $white;
			margin: 3px;
			&:hover {background: $red;}
		}
	}
}
/* blog-section end */

/* single-post start */
.single-post {
	width: min(1000px, 100%);
	margin: 0 auto;
	padding: 30px;
	background: rgba($skyBlue, 5%);
	border-radius: 16px;
	.post-thumb {
		margin-bottom: 20px;
		img {
			aspect-ratio: 1/.5;
			object-fit: cover;
			border-radius: 8px;
		}
	}
	
	.post-info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 20px;
		margin: 30px 0;
		border-radius: 8px;
		box-shadow: 0 0 15px rgba($darkBlue, 15%);
		a {
			display: flex;
			align-items: center;
			i {
				width: 40px;
				height: 40px;
				border-radius: 100%;
				margin-right: 10px;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 18px;
				background: $skyBlue;
				color: $white;
				transition: all .3s ease;
			}
			span {
				font-size: 15px;
				font-weight: 600;
				color: $darkBlue;
				transition: all .3s ease;
			}
			&:hover {
				i {background: $lightBlue;}
				span {color: $lightBlue;}
			}
		}
	}
	
	& > h2 {
		font-size: 36px;
		font-weight: 900;
		line-height: 52px;
		margin-bottom: 30px;
		padding-bottom: 5px;
		color: $lightBlue;
		border-bottom: 3px solid $red;
	}
	
	p {
		font-size: 18px;
		line-height: 32px;
		color: lighten($darkBlue, 10%);
		&+p {margin-top: 20px;}
		a {
			color: $lightBlue;
			&:hover {text-decoration: underline;}
		}
	}
	
	ul {
		margin: 30px;
		li {
			position: relative;
			font-size: 16px;
			font-weight: 600;
			color: lighten($darkBlue, 15%);
			margin-bottom: 15px;
			padding-left: 30px;
			&::before {
				position: absolute;
				content: '';
				width: 15px;
				height: 15px;
				border-radius: 2px;
				background: $skyBlue;
				box-shadow: 3px 3px 0 $red;
				top: 2px;
				left: 0;
			}
		}
	}
	
	blockquote {
		padding: 30px;
		width: calc(100% - 30px);
		margin: 30px auto;
		border-radius: 8px;
		background: $white;
		border-left: 15px solid $lightBlue;
		position: relative;
		box-shadow: 0 0 25px rgba($darkBlue, 10%);
		&::before {
			position: absolute;
			content: '\F6B0';
			font-family: Bootstrap-icons;
			right: 0;
			top: 0;
			font-size: 150px;
			opacity: 0.03;
		}
	}
	.post-footer {
		margin: 30px 0 0;
		padding: 30px 30px 10px;
		border-radius: 8px;
		border-top: 3px solid $skyBlue;
		border-bottom: 3px solid $skyBlue;
		background: rgba($skyBlue, 10%);
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.share-post {
		a {
			display: inline-flex;
			position: relative;
			font-size: 14px;
			font-weight: 600;
			margin-right: 15px;
			span {
				top: -10px;
			}
		}
	}
	.tags {
		a {
			font-size: 16px;
			font-weight: 600;
			color: lighten($black, 30%);
			display: inline-block;
			margin-right: 10px;
			&:hover {
				color: $lightBlue;
			}
		}
	}
}

.comments-area {
	width: min(1000px, 100%);
	margin: 0 auto;
	padding: 30px;
	margin-top: 50px;
	background: rgba($skyBlue, 5%);
	border-radius: 8px;
	h2 {
		font-size: 36px;
		font-weight: 600;
		color: $lightBlue;
		border-bottom: 5px solid $skyBlue;
		padding-bottom: 5px;
		margin-bottom: 30px;
	}
	form {
		& :is(input, textarea) {
			width: 100%;
			padding: 15px 20px;
			border-radius: 8px;
			background: $white;
			border: 1px solid rgba($lightBlue, 30%);
			margin-bottom: 20px;
		}

		input {
			height: 50px;
			width: calc(50% - 15px);
		}
		textarea {height: 150px;}
		button {
			width: 100%;
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 18px;
			font-weight: 700;
			color: $white;
			background: $skyBlue;
			transition: all .3s ease;
			&:hover {
				background: $lightBlue;
			}
		}
	}
}
/* single-post end */

/* footer start */
footer {
	overflow: hidden;
	position: relative;
	& > img {
		position: absolute;
		left: 0;
		bottom: 0;
		opacity: .1;
		transform: translate(400%, -400%) scale(8) rotateY(180deg);
		pointer-events: none;
	}
	.footer-lg {
		padding: 120px 0 80px;
		background: lighten($darkBlue, 10%);
		box-shadow: inset 0 5px 0 rgba($red, 80%);
	}
	
	.footer-col {
		h4 {
			font-size: 24px;
			font-weight: 900;
			color: $white;
			margin-bottom: 30px;
			padding: 10px 0 10px 15px;
			background: rgba($white, 10%);
			box-shadow: inset -3px 0 0 rgba($white, 80%);
			border-radius: 4px;
			border-left: 10px solid lighten($red, 10%);
			letter-spacing: 1px;
		}
		
		li {
			display: flex;
			align-items: center;
			& + li {margin-top: 15px;}
			i {
				width: 40px !important;
				height: 40px;
				margin-right: 10px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 4px;
				background: $red;
				box-shadow: 2px 2px 0 $white;
				color: $white;
			}
			
			a, span {
				width: calc(100% - 50px);
				font-size: 16px;
				line-height: 28px;
				font-weight: 500;
				color: rgba($white, 80%);
			}
			
			a {
				&:hover {color: $white}
				@include hover-underline($white)
			}
		}
		form {
			padding: 15px;
			background: rgba($skyBlue, 20%);
			border-radius: 8px;
			& :is(input, textarea) {
				width: 100%;
				padding: 20px 15px;
				background: $white;
				font-size: 14px;
				color: $darkBlue;
				margin-bottom: 15px;
				border-radius: 4px;
				box-shadow: 0 0 15px -5px rgba($darkBlue, 20%);
			}
			input {height: 45px}
			textarea {height: 100px}
			button {
				width: 100%;
				height: 45px;
				background: $lightBlue;
				box-shadow: 0 0 20px -4px rgba($darkBlue, 60%);
				color: $white;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 16px;
				font-weight: 700;
				letter-spacing: 1px;
				border-radius: 4px;
				transition: all .3s ease;
				&:hover {background: $skyBlue;}
			}
		}
		& > span {
			display: block;
			color: $white;
			& + span {margin-top: 10px;}
			a {
				font-size: 16px;
				font-weight: 500;
				color: rgba($white, 80%);
				&:hover {color: $white}
				@include hover-underline($white);
			}
		}
		.copyright {
			font-size: 14px;
			letter-spacing: 1px;
			font-weight: 500;
			margin-top: 60px;
			position: absolute;
			bottom: 0;
			padding: 10px;
			color: rgba($white, 80%);
			border-radius: 4px;
			border-top: 2px solid rgba($white, 30%);
			border-bottom: 2px solid rgba($white, 30%);
			background: rgba($white, 5%);
		}
	}
}
/* footer end */

/* login page start */
.auth-box {
	min-height: 100vh;
	display: grid;
	section {
		margin: auto;
		width: min(700px, 100%);
		padding: 15px;
		border-radius: 16px;
		box-shadow: 0 0 0 1px rgba($darkBlue, 12%);
		background: rgba($skyBlue, 10%);
		img {
			width: 150px;
			display: block;
			margin: 30px auto;
		}
		h2 {
			font-size: 32px;
			font-weight: 900;
			color: $darkBlue;
			text-align: center;
			margin-bottom: 30px;
		}
		&>p {
			font-size: 16px;
			line-height: 28px;
			text-align: center;
			font-weight: 500;
			color: $darkBlue;
			width: min(480px, 100%);
			margin: 0 auto 30px;
		}
		form {
			width: min(400px, 100%);
			display: block;
			margin: 0 auto;
			input {
				width: 100%;
				height: 50px;
				padding: 15px;
				background: $white;
				border-radius: 4px;
				&+input {margin-top: 20px;}
			}
			label {
				margin: 20px 0 15px;
				font-size: 16px;
				font-weight: 500;
				color: $skyBlue;
				cursor: pointer;
				padding-left: 30px;
				position: relative;
				display: inline-block;
				&::before {
					position: absolute;
					content: '';
					width: 20px;
					height: 20px;
					border-radius: 4px;
					background: $white;
					top: 0;
					left: 0;
				}
				
				&::after {
					position: absolute;
					content: '\F26E';
					font-family: bootstrap-icons;
					font-size: 26px;
					color: $skyBlue;
					left: -3px;
					top: -8px;
					display: none;
				}
			}
			#remember:checked + label::after {display: block;}
			button {
				width: 100%;
				height: 50px;
				border-radius: 4px;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 16px;
				font-weight: 900;
				letter-spacing: 1px;
				margin-bottom: 20px;
				background: $skyBlue;
				color: $white;
				transition: all .3s ease;
				&:hover {
					background: $lightBlue
				}
			}
			
			a {
				color: $red;
				font-size: 14px;
				font-weight: 500;
				&:hover {text-decoration: underline;}
			}
		}
	}
}
/* login page end */

/* page-header start */
.page-header {
	height: 450px;
	position: relative;
	isolation: isolate;
	img {
		width: 100%;
		height: 450px;
		object-fit: cover;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
	}
	&::before {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 2;
		background: -webkit-gradient(linear, left top, right top, from($black), to(transparent));
		background: -o-linear-gradient(left, $black, transparent);
		background: linear-gradient(to right, $black, transparent);
	}
	
	h1 {
		position: relative;
		z-index: 3;
		padding: 0 30px;
		word-spacing: 20px;
		font-family: $heading;
		font-size: 60px;
		font-weight: 900;
		color: $white;
		position: relative;
		isolation: isolate;
		&::before {
			position: absolute;
			content: '';
			width: 100%;
			height: calc(100% + 40px);
			left: 0;
			top: -20px;
			background: rgba($skyBlue, 40%);
			border-top: 5px solid $red;
			border-bottom: 5px solid $red;
			border-radius: 4px;
			z-index: -1;
		}
	}
}
/* page-header end */

/* epp-section start */
.epp-section {
	width: min(750px, 100%);
	margin: 0 auto;
	padding: 30px;
	background: rgba($skyBlue, 10%);
	border: 20px solid $skyBlue;
	border-radius: 16px;
	
	p {
		font-size: 18px;
		line-height: 32px;
		color: $darkBlue;
		&+p {margin-top: 20px;}
		&.note {
			font-weight: 600;
			letter-spacing: 1px;
			background: rgba($skyBlue, 70%);
			color: rgba($white, 90%);
			margin: 0 -40px;
			padding: 10px 30px;
			margin-top: 10px;
		}
	}
	
	a {@include primary-button($white, $red, $skyBlue)}
}
/* epp-section end */

/* prize-money start */
.prize-money {
	h2 {
		font-size: 32px;
		font-weight: 900;
		color: $darkBlue;
		padding-bottom: 5px;
		margin-bottom: 15px;
		border-bottom: 3px solid $red;
		& + p {
			font-size: 18px;
			font-weight: 500;
		}
	}
}
/* prize-money end */